.SearchGame {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr; /* Three columns with relative widths */
    align-items: left; /* Vertically align items in the center */
    gap: 20px; /* Spacing between columns */

  }
  
  .column {
    
  }

  #combo-box-demo{
color: white;
  }
  
  .left {
    
  }
  
  .middle {
    /* Styles for the middle column (filters section) */
    /* Example: background-color: lightblue; */
  }
  
  .right {
    /* Styles for the right column (search input and search button) */
    /* Example: background-color: lightgreen; */
    text-align: left;
    display: flex;
  }