.SearchGame {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr; 
    align-items: left; 
    gap: 20px; 

  }
  
  .column {
    
  }

  #combo-box-demo{
color: white;
width: 100%; 
align-self: center; 
  }
  
  .left {
    
  }
  
  .middle {
  }
  
  .right {
  text-align: left;

  }