.addGame {
    color: white;
    padding: 25px; 

  }
  

.Inputs{
  color: white;

}

input[type="text"],
input[type="number"]
  {
  color: white; 
  border: 1px solid gray; 
  padding: 10px;
  margin: 5px 25px;
  
}




.checkboxs {
  display: inline-block; 
  margin: 5px;

}

.checkboxContainer {
  display: inline-block; 
  align-items: center;
  margin: 5px 35px;

}


.MuiCheckbox-root .MuiSvgIcon-root {
  width: 20px; 
  height: 20px; 
  border: 1px solid gray; 

}


