.addGame {
    padding: 25px; 
    color: white; /* Change this to 'white' if you want white placeholders */

  }
  



.textInputs input::placeholder {
  color: gray; /* Change this to 'white' if you want white placeholders */
  font-style:  gray normal;
}

.textInputs input {
  color: white; 
  font-style: normal !important;
}

.textInputs {
  border: 2px solid gray !important;
  margin: 4px 20px !important;
  text-align: left;
}




.checkboxs {
  display: inline-block; 
  margin: 5px;

}

.checkboxContainer {
  display: inline-block; 
  align-items: center;
  margin: 5px 35px;

}


.MuiCheckbox-root .MuiSvgIcon-root {
  width: 20px; 
  height: 20px; 
  border: 1px solid gray; 

}


