.addGame {
    color: white !important;
    padding: 25px; 

  }
  

.inputs{
  color: white !important;

}

.textInputs input::placeholder {
  color: gray; /* Change this to 'white' if you want white placeholders */
  font-style:  white normal;
}

.textInputs input {
  color: white; /* Change this to 'gray' if you want gray text */
  font-style: normal;
}

.textInputs {
  border: 2px solid gray !important;
  margin: 4px 20px !important;
  text-align: left;
}

/* input[type="text"],
input[type="number"]
  {
  color: white; 
  border: 1px solid gray; 
  padding: 10px;
  margin: 5px 25px;
  
} */

.whiteText {
  color: white;
}


.checkboxs {
  display: inline-block; 
  margin: 5px;

}

.checkboxContainer {
  display: inline-block; 
  align-items: center;
  margin: 5px 35px;

}


.MuiCheckbox-root .MuiSvgIcon-root {
  width: 20px; 
  height: 20px; 
  border: 1px solid gray; 

}


