.SearchFilters {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center; 
    gap: 20px; 
    background-color: black;
}

  .column {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-color: green !important;

  }

  #combo-box-demo{
color: white;
border: none;

  }



  .left {
    
  }
  
  .right {
  text-align: left;

}




